article {
  margin-bottom: 2em;
  color: var(--primary-color);
}

article h3 {
  color: var(--secondary-color);
}

article ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1em;
}

article li {
  margin-bottom: 1em;
}

article li strong {
  font-weight: bold;
}
